<!DOCTYPE html>
<html lang="ko">
<head>
	<title>pii-KoELCTRA demo</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<!-- 상단 카테고리 -->
	<header>
	</header>
	
	<!-- 선택한 Refer/Target 이미지 및 Transfer 이미지 -->
	<div class="side-page-main-div">
		<table align="center">
			<tr>
				<td><h2 align="center">Result</h2></td>
			</tr>
			<tr align="center">
			</tr>
			<tr>
				<td>
					{{result_txt}}
				</td>
			</tr>
		</table>
	</div>
	<br>
</body>
</html>